:root {
  --bg-color: #1e1e1e;
  --main-color: #78a083;
  --main-color-darker: #222e25;

  --secondary-color: #ffffff;

  --text-light: #ffffff;
  --text-dark: #000;
}

/***********************************/
/* RE-USABLES COMPONENTS */
/***********************************/
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/***********************************/
/* GENERAL COMPONENTS */
/***********************************/

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.3rem var(--main-color-darker); */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h1 {
  font-size: 7rem;
  margin-bottom: 3rem;
  letter-spacing: 12px;
}

h2 {
  font-size: 4rem;
  color: var(--secondary-color);
}

h2 span {
  color: var(--main-color);
}

p {
  font-size: 1.7rem;
  line-height: 3rem;
  color: var(--secondary-color);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--text-light);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.5s;
  background-color: var(--main-color);
  color: #fff;
  border: none;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--main-color);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--main-color-darker);
}

.section-subtitle {
  margin: 1.5rem 0 3.5rem 0;
  font-size: 2rem;
}

.section-subtitle span {
  font-weight: 800;
}

.section-link-spacer {
  padding: 9.6rem;
}

/***********************************/
/* NAV SECTION */
/***********************************/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
  background-color: var(--bg-color);
}

.logo-link {
  text-decoration: none;
}

.jb-logo-box {
  display: flex;
  column-gap: 1rem;
}

.jb-logo {
  height: 5rem;
}

.jb-name {
  align-self: center;
  font-size: 3rem;
  font-weight: 200;
  text-decoration: none;
}

.jb-name span {
  font-weight: 700;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-light);
  justify-self: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  cursor: pointer;
  color: var(--main-color);
}

.header .btn {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  font-weight: 700;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0 4.8rem;
  height: 9.6rem;
  z-index: 9999;
  box-shadow: 0 1rem 2.3rem var(--main-color-darker);
  background-color: var(--bg-color);
}

.sticky .hero-section {
  margin-top: 19.2rem;
}

/***********************************/
/* HERO SECTION */
/***********************************/

.hero {
  max-width: 120rem;
  margin: 9.6rem auto 0 auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hi-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 0.5rem 0.3rem;
}

.hero-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.hero-description {
  margin-bottom: 2.5rem;
}

.hero .btn {
  font-weight: 900;
  padding: 1.3rem 5rem;
  letter-spacing: 0.1rem;
}

.hero-img-box {
  display: flex;
  justify-content: flex-end;
}

.hero-img-box img {
  width: 100%;
}

/***********************************/
/* MY SKILLS SECTION */
/***********************************/

.skills-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 3.5rem;
  row-gap: 3rem;
}

.skill-card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  padding: 1.5rem 0;
  border: 3px solid var(--main-color);
  transition: all 0.5s ease;
}

.skill-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill-card p {
  color: var(--bg-color);
  margin: 0;
  font-weight: 700;
  margin-top: 1rem;
}

.skill {
  width: 40%;
}

/***********************************/
/* MY SKILLS SECTION */
/***********************************/

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.project-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.project-img-box {
  width: 100%;
  height: 15rem;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.project-img:hover {
  transform: scale(1.1);
}

.enlarge-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox {
  /* Hidden lightbox image */
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  img {
    align-self: center;
  }

  &:target {
    /* Show the lightbox */
    display: block;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
}

.project-details-box {
  padding: 2rem;
}

.project-title-box {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 1rem;
}

.project-title {
  color: var(--text-dark);
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.technologies {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  margin: 2rem 0;
}

.tech {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  transition: all 0.3s;
  border-radius: 10px;
}

.tech:hover {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 1;
}

.project-description {
  color: var(--text-dark);
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  height: 7rem;
}

.project-btn-box {
  padding: 0 0 2rem 2rem;
}

.project-btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 1rem;
}

.project-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 12px;
  color: var(--text-light);
  background-color: var(--bg-color);
  font-weight: 700;
}

.project-btn:hover {
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--text-light);
  box-shadow: inset 0 0 0 2px var(--main-color-darker);
}

.vbnet {
  background-color: rgb(0, 0, 102);
}

.sql {
  background-color: skyblue;
}

.flutter {
  background-color: rgb(0, 174, 243);
}

.dart {
  background-color: rgb(0, 106, 148);
}

.firebase {
  background-color: rgba(254, 212, 0);
}

/***********************************/
/* ABOUT ME SECTION */
/***********************************/

.about-me-section {
  padding-bottom: 19.3rem;
}

.about-me-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.about-me-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-img-box img {
  width: 70%;
}

/***********************************/
/* MY SKILLS SECTION */
/***********************************/
.contact-section {
  padding: 9.6rem 0;
  background-color: var(--main-color-darker);
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box span {
  color: var(--text-light);
}

.contact-details {
  display: flex;
  margin: 2.5rem 0;
}

.contact-icon {
  height: 5rem;
}

.contact {
  font-size: 2rem;
  align-self: center;
  margin-left: 5rem;
}
